.App {
  text-align: center;
  background-color: #282c34;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40px;
}

.App-infobox {
  width: 200px;
  height: 45px;
  font-size: 18px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.App-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-wraper {
  display: flex;
  justify-content: space-around;
}